div.container
  form(action='/register',method='POST', role='form')
    div.form-group
      label(for='username') Username
      input#username.form-control(name='username')
      span #{errors.username}
    div.form-group
      label(for='password') Password
      input#password.form-control(name='password', type='password')
      span #{errors.password}
    div.form-group
      label(for='repassword') Password-again
      input#repassword.form-control(name='repassword', type='password')
      span #{errors.repassword}
    div.form-group
      label(for='email') Email
      input#email.form-control(name='email')
      span #{errors.email}
    input#submit.btn.btn-default(type='submit')